BACKGROUND             RCDATA   "background/0000.png"
BACKGROUND01           RCDATA   "background/0001.png"
BACKGROUND02           RCDATA   "background/0002.png"
BACKGROUND03           RCDATA   "background/0003.png"
BACKGROUND04           RCDATA   "background/0004.png"
FLAG1000054            RCDATA   "flags/1000054.png"
FLAG1000056            RCDATA   "flags/1000056.png"
FLAG1000071            RCDATA   "flags/1000071.png"
FLAG1000090            RCDATA   "flags/1000090.png"
FLAG1000091            RCDATA   "flags/1000091.png"
BACK                   RCDATA   "actions/back0064.png"
MENU                   RCDATA   "actions/menu0064.png"
CART                   RCDATA   "actions/cart0064.png"
USER                   RCDATA   "actions/user0064.png"
PLUSCORNER             RCDATA   "actions/pluscorner0032.png"
PLUS                   RCDATA   "actions/plus0064.png"
MINUS                  RCDATA   "actions/minus0064.png"




